---
const {category} = Astro.props;
const {categoryList} = Astro.props;

const counter = categoryList.filter((x:string) => x==category).length

---

    <button class="mx-4 px-6 py-4 border-2 border-slate-300 bg-slate-300 text-slate-900 text-center rounded-md  focus:bg-slate-500 focus:border-slate-800 hover:bg-slate-400"
            id={category} 
    >
        {`${category} (${counter})`} 
    </button>
