---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
		category: string;
	};
}

const {
	content: { title, description, pubDate, updatedDate, heroImage, category },
} = Astro.props as Props;
---

<html>
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="min-h-screen relative">
		<Header />
		<main class="pb-16 flex flex-col justify-center items-center">
			<article class="prose lg:prose-xl prose-slate">
				{heroImage && (
					<img
						width={"auto"}
						height={"auto"}
						src={heroImage}
						alt=""
						class="shadow-md"
					/>
				)}
				<h1 class="text-2xl font-bold p-6">{title}</h1>
				{pubDate && <time>{pubDate}</time>}
				{updatedDate && <div>Last updated on <time>{updatedDate}</time></div>}
				<hr/>
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>
